.page-header {
  display: flex;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  max-width: 100vw;
  min-height: 4vw;
  padding: 2.1875vw 0 2.1875vw 11.97vw;

  overflow: hidden;

  &::after {
    content: '';

    position: absolute;
    top: -3.7vw;
    right: -3.49vw;

    width: 10.57vw;
    height: 10.57vw;

    border-radius: 50%;

    background-color: #cac0b4;
  }
}
