@import "../../vendor/css/normalize.css";

@import "variables";
@import "fonts";
@import "mixins";

html {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $bg-color;
}

@import "blocks/page-header";
@import "blocks/main-nav";
@import "blocks/page-main";
@import "blocks/banner";
@import "blocks/page-aside.scss";
@import "blocks/page-footer";
