// fonts
$caslon-cp: "CaslonCP";
$roboto-regular: "Roboto Regular";
$roboto-medium: "Roboto Medium";
$roboto-bold: "Roboto Bold";

// colors
$bg-color: #eaeaea;
$red-color: #e44e57;
$text-color: #999999;
$bg-aside-color: #cac0b4;
